.image3{
    height: 60px;
    width: 95px;
    align-self: flex-start;
}

.activitymain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.allcards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 70vh;
    margin: 20px;
}

.imagecards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    margin: 10px;
}

.lettercards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    margin: 10px;
}